
{% extends 'base.html' %}
{% block content %}
{%  load static %}
<header id="navigation" class="navbar-fixed-top animated-header">
	<div class="container">
		<div class="navbar-header">
			<!-- responsive nav button -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- /responsive nav button -->
			
			<!-- logo -->
			<h1 class="navbar-brand">
				<a href="#body"><img src="{% static 'img\clientLogo\client-logo1.jpg'%}" height="40" width="164" alt=""></a>
			</h1>
			<!-- /logo -->
		</div>

		<!-- main nav -->
		<nav class="collapse navbar-collapse navbar-right" role="navigation">
			<ul id="nav" class="nav navbar-nav menu">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'menu' %}">Menu</a></li>
				<li><a href="{% url 'placeorder' %}">Order</a></li>
			</ul>
		</nav>
		<!-- /main nav -->
		
	</div>
</header>
		<section id="contact-form" >
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Review</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-6" style='margin-left: 25%;margin-right: 25%;'>
						<form method="POST" action="/review_posted"  enctype='multipart/form-data'>
							{% csrf_token %}
                            <select class="form-control" name="cake_id" style="margin-bottom:20px;
                                                                           height:60px;
                                                                           border: 1px solid purple;
                                                                           opacity:80%">
                                <label>Select Category</label>
                                {% for cake in cakes%}
                                    <option value="{{cake.id}}" >&nbsp;&nbsp;{{cake.name}}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="name" class="form-control" placeholder="Name">
                            <input type="text" name="email" class="form-control" placeholder="Email">
                            <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            <label style="color:purple;display:flex;"><p>Customer Pic</p>
                            	<input name="pic" type='file' multiple style="color:purple" accept="image/*" capture='environment'>
                            </label>
                            <textarea name="message" class="form-control" rows="3" placeholder="Message"></textarea>
                            <button class="btn btn-default" type="submit">SEND</button>
                        </form>
					</div>
				</div>
			</div>
 			
		</section>

{% endblock %}